In [18]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [19]:
 def read_dataset(url):
     df=pd.read_csv(url)
     print(df.head(10))
     return df
 url = 'https://drive.google.com/uc?id=1C_iqgpDk2RqQJzV_5J2Nok8DfFMomVbQ'
 df = read_dataset(url)

  Description         Name  year iso_code  population  gdp  cement_co2  \
0     Country  Afghanistan  1850      AFG     3752993  NaN         0.0
1     Country  Afghanistan  1851      AFG     3767956  NaN         0.0
2     Country  Afghanistan  1852      AFG     3783940  NaN         0.0
3     Country  Afghanistan  1853      AFG     3800954  NaN         0.0
4     Country  Afghanistan  1854      AFG     3818038  NaN         0.0
5     Country  Afghanistan  1855      AFG     3835192  NaN         0.0
6     Country  Afghanistan  1856      AFG     3852417  NaN         0.0
7     Country  Afghanistan  1857      AFG     3869714  NaN         0.0
8     Country  Afghanistan  1858      AFG     3887081  NaN         0.0
9     Country  Afghanistan  1859      AFG     3904521  NaN         0.0

   cement_co2_per_capita  co2  co2_growth_abs  ...  share_global_other_co2  \
0                    0.0  NaN             NaN  ...                     NaN
1                    0.0  NaN             NaN  ...                     NaN
2                    0.0  NaN             NaN  ...                     NaN
3                    0.0  NaN             NaN  ...                     NaN
4                    0.0  NaN             NaN  ...                     NaN
5                    0.0  NaN             NaN  ...                     NaN
6                    0.0  NaN             NaN  ...                     NaN
7                    0.0  NaN             NaN  ...                     NaN
8                    0.0  NaN             NaN  ...                     NaN
9                    0.0  NaN             NaN  ...                     NaN

   share_of_temperature_change_from_ghg  temperature_change_from_ch4  \
0                                   NaN                          NaN
1                                 0.156                          0.0
2                                 0.155                          0.0
3                                 0.155                          0.0
4                                 0.155                          0.0
5                                 0.155                          0.0
6                                 0.154                          0.0
7                                 0.154                          0.0
8                                 0.154                          0.0
9                                 0.154                          0.0

   temperature_change_from_co2  temperature_change_from_ghg  \
0                          NaN                          NaN
1                          0.0                          0.0
2                          0.0                          0.0
3                          0.0                          0.0
4                          0.0                          0.0
5                          0.0                          0.0
6                          0.0                          0.0
7                          0.0                          0.0
8                          0.0                          0.0
9                          0.0                          0.0

   temperature_change_from_n2o  total_ghg  total_ghg_excluding_lucf  \
0                          NaN      7.436                     0.629
1                          0.0      7.500                     0.633
2                          0.0      7.560                     0.637
3                          0.0      7.620                     0.641
4                          0.0      7.678                     0.644
5                          0.0      7.735                     0.648
6                          0.0      7.790                     0.652
7                          0.0      7.845                     0.656
8                          0.0      7.899                     0.660
9                          0.0      7.950                     0.663

   trade_co2  trade_co2_share
0        NaN              NaN
1        NaN              NaN
2        NaN              NaN
3        NaN              NaN
4        NaN              NaN
5        NaN              NaN
6        NaN              NaN
7        NaN              NaN
8        NaN              NaN
9        NaN              NaN

[10 rows x 80 columns]

In [20]:
print("Original Data Types:")
print(df.dtypes)

Original Data Types:
Description                     object
Name                            object
year                             int64
iso_code                        object
population                       int64
                                ...
temperature_change_from_n2o    float64
total_ghg                      float64
total_ghg_excluding_lucf       float64
trade_co2                      float64
trade_co2_share                float64
Length: 80, dtype: object

In [21]:
# Анализ данных
print("Размер данных:", df.shape)
print("Количество колонок:", len(df.columns))
print("Пустые значения в первых 10 колонках:")
print(df.isnull().sum().head(10))

Размер данных: (1044, 80)
Количество колонок: 80
Пустые значения в первых 10 колонках:
Description                0
Name                       0
year                       0
iso_code                   0
population                 0
gdp                      744
cement_co2               368
cement_co2_per_capita    368
co2                      588
co2_growth_abs           594
dtype: int64

In [22]:
# Анализ типов
print("\nТипы данных до преобразования:")
print(df.dtypes.head(10))

Типы данных до преобразования:
Description               object
Name                      object
year                       int64
iso_code                  object
population                 int64
gdp                      float64
cement_co2               float64
cement_co2_per_capita    float64
co2                      float64
co2_growth_abs           float64
dtype: object

In [23]:
newdf = df.convert_dtypes()

In [24]:
# Список колонок, которые должны остаться вещественными числами
float_columns = [
    'gdp', 'cumulative_other_co2', 'other_co2_per_capita',
    'other_industry_co2', 'share_global_cumulative_other_co2',
    'share_global_other_co2', 'temperature_change_from_n2o'
]

In [25]:
for col in float_columns:
    if col in newdf.columns and newdf[col].dtype == 'Int64':
        newdf[col] = newdf[col].astype('Float64')

In [26]:
print(" \nNew Data Types:")
print(newdf.dtypes.head(10))

New Data Types:
Description              string[python]
Name                     string[python]
year                              Int64
iso_code                 string[python]
population                        Int64
gdp                             Float64
cement_co2                      Float64
cement_co2_per_capita           Float64
co2                             Float64
co2_growth_abs                  Float64
dtype: object

In [27]:
print("\nИзменения в типах данных:")
changes_count = 0
for col in df.columns:
    if df[col].dtype != newdf[col].dtype:
        print(f"{col}: {df[col].dtype} -> {newdf[col].dtype}")
        changes_count += 1

print(f"\nВсего изменено типов: {changes_count}")

Изменения в типах данных:
Description: object -> string
Name: object -> string
year: int64 -> Int64
iso_code: object -> string
population: int64 -> Int64
gdp: float64 -> Float64
cement_co2: float64 -> Float64
cement_co2_per_capita: float64 -> Float64
co2: float64 -> Float64
co2_growth_abs: float64 -> Float64
co2_growth_prct: float64 -> Float64
co2_including_luc: float64 -> Float64
co2_including_luc_growth_abs: float64 -> Float64
co2_including_luc_growth_prct: float64 -> Float64
co2_including_luc_per_capita: float64 -> Float64
co2_including_luc_per_gdp: float64 -> Float64
co2_including_luc_per_unit_energy: float64 -> Float64
co2_per_capita: float64 -> Float64
co2_per_gdp: float64 -> Float64
co2_per_unit_energy: float64 -> Float64
coal_co2: float64 -> Float64
coal_co2_per_capita: float64 -> Float64
consumption_co2: float64 -> Float64
consumption_co2_per_capita: float64 -> Float64
consumption_co2_per_gdp: float64 -> Float64
cumulative_cement_co2: float64 -> Float64
cumulative_co2: float64 -> Float64
cumulative_co2_including_luc: float64 -> Float64
cumulative_coal_co2: float64 -> Float64
cumulative_flaring_co2: float64 -> Float64
cumulative_gas_co2: float64 -> Float64
cumulative_luc_co2: float64 -> Float64
cumulative_oil_co2: float64 -> Float64
cumulative_other_co2: float64 -> Float64
energy_per_capita: float64 -> Float64
energy_per_gdp: float64 -> Float64
flaring_co2: float64 -> Float64
flaring_co2_per_capita: float64 -> Float64
gas_co2: float64 -> Float64
gas_co2_per_capita: float64 -> Float64
ghg_excluding_lucf_per_capita: float64 -> Float64
ghg_per_capita: float64 -> Float64
land_use_change_co2: float64 -> Float64
land_use_change_co2_per_capita: float64 -> Float64
methane: float64 -> Float64
methane_per_capita: float64 -> Float64
nitrous_oxide: float64 -> Float64
nitrous_oxide_per_capita: float64 -> Float64
oil_co2: float64 -> Float64
oil_co2_per_capita: float64 -> Float64
other_co2_per_capita: float64 -> Float64
other_industry_co2: float64 -> Float64
primary_energy_consumption: float64 -> Float64
share_global_cement_co2: float64 -> Float64
share_global_co2: float64 -> Float64
share_global_co2_including_luc: float64 -> Float64
share_global_coal_co2: float64 -> Float64
share_global_cumulative_cement_co2: float64 -> Float64
share_global_cumulative_co2: float64 -> Float64
share_global_cumulative_co2_including_luc: float64 -> Float64
share_global_cumulative_coal_co2: float64 -> Float64
share_global_cumulative_flaring_co2: float64 -> Float64
share_global_cumulative_gas_co2: float64 -> Float64
share_global_cumulative_luc_co2: float64 -> Float64
share_global_cumulative_oil_co2: float64 -> Float64
share_global_cumulative_other_co2: float64 -> Float64
share_global_flaring_co2: float64 -> Float64
share_global_gas_co2: float64 -> Float64
share_global_luc_co2: float64 -> Float64
share_global_oil_co2: float64 -> Float64
share_global_other_co2: float64 -> Float64
share_of_temperature_change_from_ghg: float64 -> Float64
temperature_change_from_ch4: float64 -> Float64
temperature_change_from_co2: float64 -> Float64
temperature_change_from_ghg: float64 -> Float64
temperature_change_from_n2o: float64 -> Float64
total_ghg: float64 -> Float64
total_ghg_excluding_lucf: float64 -> Float64
trade_co2: float64 -> Float64
trade_co2_share: float64 -> Float64

Всего изменено типов: 80

In [29]:
# Проверка
problem_columns = ['gdp', 'cumulative_other_co2', 'temperature_change_from_n2o']
for col in problem_columns:
    if col in newdf.columns:
        print(f"{col}: {newdf[col].dtype}")
        print(f"Пример значений: {newdf[col].head(3).tolist()}")

gdp: Float64
Пример значений: [<NA>, <NA>, <NA>]
cumulative_other_co2: Float64
Пример значений: [<NA>, <NA>, <NA>]
temperature_change_from_n2o: Float64
Пример значений: [<NA>, 0.0, 0.0]